<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                               http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.onlinebanking.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClientServlet</servlet-name>
        <servlet-class>com.onlinebanking.servlet.DeleteClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClientServlet</servlet-name>
        <servlet-class>com.onlinebanking.servlet.UpdateClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.onlinebanking.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <!-- Admin Servlet -->
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.onlinebanking.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <!-- Optional: Client Servlet for future use -->
    <!--
    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>com.onlinebanking.servlet.ClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/ClientServlet</url-pattern>
    </servlet-mapping>
    -->
    <!-- Default welcome page -->
    <servlet-mapping>
        <servlet-name>DeleteClientServlet</servlet-name>
        <url-pattern>/DeleteClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClientServlet</servlet-name>
        <url-pattern>/UpdateClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
